.weather-display {
    border-top: 1px solid #fff;
    margin-top: 2em;
    padding-top: 2em;
    width: 16.7em;


    .weather-data {

        h2 {
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                color: #fff;
                font-size: 0.6em;
                padding: -20px;
                
            }

            span {
                margin: 0.5rem;
                color: #fff;
                font-size: 1em;

            }

            img {
                height: 20px;
                margin-top: 2px;

            }
        }

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;

            span {
                font-size: 5em;
                font-weight: 300;
                color: #fff;

            }
        }
    }

    .descripition {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            span {
                color: #fff;
                font-weight: 300;
                font-weight: bold;
                text-transform: capitalize;

            }
        }
    }
}