* {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
        
}    
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1536532184021-da5392b55da1?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w1MTIwMTJ8MHwxfHNlYXJjaHwxfHxibHVlJTIwc2t5fGVufDB8fHx8MTY5NjcyMzAzMnww&ixlib=rb-4.0.3&q=80&w=1080');
    background-size: cover;

}




